.card{
    max-width: 250px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 12px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}